<footer>
  <div class="container-fluid">
    <ul>
      <p>Products</p>
      <li><a href="#">Subscriptions</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Design tools</a></li>
      <li><a href="#">Hosting</a></li>
      <li><a href="#">Storage</a></li>
      <li><a href="#">Domain name</a></li>
      <li><a href="#">Email services</a></li>
      <li><a href="#">Templates</a></li>
      <li><a href="#">Account</a></li>
    </ul>
    <ul>
      <p>Support</p>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Careers</a></li>
    </ul>
    <ul>
      <p>Legal</p>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Privacy policy</a></li>
      <li><a href="#">Cookie policy</a></li>
    </ul>
    <ul>
      <p>Stay connected</p>
      <li>Receive email updates on new features and templates</li>
      <li><input type="text" name="email" value=""> <button type="button" name="button">Subscribe</button>
      <a href="http://facebook.com"><img src="/static/templates/Java House/images/facebook.svg" alt=""></a>
      <a href="http://twitter.com"><img src="/static/templates/Java House/images/twitter.svg" alt=""></a>
      </li>
    </ul>
  </div>
  <div class="copyright">
    <p>Copyright &copy; 2022 Powers Web Design LLC. All Rights Reserved.</p>
  </div>
</footer>
